body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  margin: 0;
  color: #1f5eaf;
}

h2 {
  margin: 0;
}

.container {
  margin: 30px auto 0;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.container p {
  font-size: 13px;
  line-height: 1.5;
  font-weight: bold;
  color: #555;
}

.calculadora {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.peso,
.altura {
  display: flex;
}

.calculadora input {
  display: block;
  width: 100px;
  padding: 5px;
  border: 1px solid #8eaed7;
  outline: none;
  border-radius: 5px;
}

.calculadora label p {
  margin: 0;
}

.calculadora button {
  width: 100px;
  box-sizing: content-box;
  background-color: #1f5eaf;
  border: none;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #555;
  color: #fff;
}

.info {
  max-width: 600px;
  width: max-content;
  font-size: 14px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

caption {
  background-color: #1f5eaf;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

th {
  color: #1f5eaf;
}

td {
  text-transform: uppercase;
  padding: 2px 10px;
  border-bottom: px solid #ccc;
  font-size: 13px;
  color: #555;
}

.resultado {
  background-color: rgb(248, 248, 237);
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  color: #555;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer p {
  margin: 0;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #777;
}

.class-js-green {
  background: rgb(47, 168, 36);
  color: #fff;
  font-weight: bold;
}

.class-js-yellow {
  background: #fbff02;
  color: #333;
  font-weight: bold;
}

.class-js-red {
  background: #ff1302;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 650px) {
  .container {
    margin: 30px 5px;
    padding: 10px;
  }

  .info {
    max-width: 100%;
    display: block;
    margin: 0;
  }


  .resultado {
    padding: 10px;
    width: 290px;
    margin: 10px 0 0;
  }
}
